body {
  font-family: Helvetica !important;
}

h2 {
  font-weight: bold !important;
}

h4,
h5 {
  font-weight: 600 !important;
}

nav {
  background-color: #f1f3ff;
  width: 100%;
}

.btn-success {
  background-color: #5cb85f !important;
  border-color: #5cb85f !important;
}

.navbar-nav .btn-success {
  width: 100px;
}

.navbar-nav a {
  color: black !important;
}

.ourservices,
.whyus,
.testimoni,
.sewa_mobil,
.faq,
.footer {
  padding-top: 5rem;
}

.rectangle {
  width: 100px;
  height: 34px;
  background-color: #0d28a6;
}

.main {
  position: relative;
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: #f1f3ff;
}

.konten1 {
  padding-top: 2rem;
}

.mobil {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  width: 50%;
}

p {
  font-size: 16px;
}

li {
  list-style-type: none;
  font-size: 16px;
  padding-bottom: 3%;
}

li span {
  padding-right: 10px;
}

.whyus .card {
  width: 100%;
}

.whyus .card-title {
  padding-top: 4%;
}

.star {
  display: inline;
  float: left;
}

.testimoni .card {
  background-color: #f1f3ff;
}

.testimoni .card .img {
  padding-top: 35px;
}

.testimoni .card-body p {
  text-align: justify;
}

.carousel {
  width: 130%;
  left: -15%;
}

.overflow {
  overflow: hidden;
}

#carouselExampleControlsNoTouching {
  margin-top: 2%;
}

.carousel-control {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.carousel-control__prev,
.carousel-control__next {
  background-color: transparent;
  color: #000000;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  width: 35px;
  height: 35px;
  border: 1px solid #c4c4c4;
  border-radius: 25px;
  opacity: 1;
}

.carousel-control__prev:hover,
.carousel-control__next:hover {
  color: #ffffff;
  border: none;
  background-color: #5cb85f;
}

.rectangle2 {
  background-color: #0d28a6;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 13px;
}

.rectangle_content {
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}

.footer {
  padding-bottom: 3rem;
}

.footer .bold {
  font-weight: bold;
}

.footer img {
  padding-right: 3%;
}

@media only screen and (max-width: 575px) {
  p {
    font-size: 15px;
  }

  .main button,
  .sewa_mobil button,
  .faq button {
    font-size: 15px;
  }

  li {
    font-size: 15px;
  }

  h2 {
    font-size: 40px;
  }

  .sewa_mobil h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .faq .col-md-5 {
    text-align: center;
  }

  .footer .col-lg-4 {
    padding-top: 5%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-item .card {
    margin-left: 3px;
  }

  .carousel-control__prev,
  .carousel-control__next {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .offcanvas {
    width: 50%;
  }

  .main {
    height: auto;
    padding-bottom: 50%;
  }

  #btn-konten1 {
    margin-bottom: 10%;
  }

  .mobil {
    width: 95%;
  }

  .servis {
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 5%;
  }

  .whyus .title {
    text-align: center;
  }

  .whyus .card {
    margin-bottom: 5%;
  }

  .ourservices h4 {
    font-size: 25px;
  }

  .sewa_mobil .rectangle_content {
    width: 60%;
  }
}
